@using System.Reflection
@using ZyphCare.Web.Components.Layout
@using ZyphCare.Web.Core.Contracts
@using ZyphCare.Web.Identity.Extensions

<Router AppAssembly="@(typeof(Routes).Assembly)" AdditionalAssemblies="Assemblies">
    <Found Context="routeData">
        <CascadingAuthenticationState>
            <AuthorizeView Context="_">
                <Authorized>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)">
                        <NotAuthorized>
                            @UnauthorizedComponentProvider.GetUnauthorizedComponent()
                        </NotAuthorized>
                    </AuthorizeRouteView>
                </Authorized>
                <Authorizing>
                    <div Style="padding: 20px; height: 100vh; width: 100vw;">
                        <div>Authorizing...</div>
                    </div>
                </Authorizing>
                <NotAuthorized>
                    <AuthorizeRouteView RouteData="@routeData">
                        <NotAuthorized>
                            @UnauthorizedComponentProvider.GetUnauthorizedComponent()
                        </NotAuthorized>
                    </AuthorizeRouteView>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found | ZyphCare</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code
{
    private IEnumerable<Assembly> Assemblies { get; set; } = default!;
    
    [Inject] private IEnumerable<IAspect> Aspects { get; set; } = default!;
    [Inject] private IAspectService AspectService { get; set; } = default!;
    [Inject] private IUnauthorizedComponentProvider UnauthorizedComponentProvider { get; set; } = default!;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        Assemblies = Aspects.Select(x => x.GetType().Assembly).Distinct().ToList();
    }

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (AuthenticationState != null)
        {
            var authState = await AuthenticationState;
            if (authState.User.Identity?.IsAuthenticated == true && !authState.User.Claims.IsExpired())
                await AspectService.InitializeAspectsAsync();
        }
    }
}
